body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
	
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.8em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    line-height: 1.1em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
pre {
	background-color: #EBECE4;
	border-radius: 3px;
	white-space: pre-wrap;
	border: 1px solid gray;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

div.art_thumbnail_box {
	float: left;
	width: 100px;
	height: 200px;
	margin: 10px;
	border: 1px solid #000000;  
}

div.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    width:100%;
    height:100%;
	max-width: 560px;
	max-height: 315px;
}

div.video-responsive iframe{
    left:0;
    top:0;
    width:100%;
    height:100%;
	max-width: 560px;
	max-height: 315px;
    position:absolute;
}
/*列表滚动*/
.scroll1{
/*设置可见部分的高度*/
  height: 150px;
/*随便设置个颜色区分可滚动区域和其他区域*/
  background-color: whrite;
/*设置在竖直方向上可滚动*/
  overflow-y: scroll;
/*overflow:hidden样式可以不写，因为scroll会自动隐藏超出content高度的部分*/
}
/*两端对齐*/
.justify1{
       text-align: justify;
       text-justify: newspaper;
}

td {
    vertical-align: top;
}
/*图片轮播格式*/
.banner-container{
	width:600px;
	height:400px;
	margin:1rem auto;
	overflow: hidden;
	position: relative;
}

.banner-container .banner-img-container {
	width:2400px;
	height:400px;
	overflow: hidden;
	position: absolute;
	display: flex;
	transition: transform 0.6s ease;
}

.banner-container .banner-img-container  img{
	width:600px;
	height:400px;
}

/* 轮播图圆点样式 */
.banner-container a {
	width:15px;
	height:15px;
	background:#FFFFFF;
	position: absolute;
	bottom:1rem;
	border-radius: 100%;
	margin:0;
	z-index: 1;
}

.banner-container input{
	width:15px;
	height:15px;
	position: absolute;
	bottom:1rem;
	margin:0;
	cursor: pointer;
	z-index: 2;
	opacity: 0;
}
/* 设置导航圆点偏移量（居中布局）*/
#banner-control-1,#banner-control-1 + .banner-nav-a{
    left: 35%;
}
#banner-control-2,#banner-control-2 + .banner-nav-a{
    left: 45%;
}
#banner-control-3,#banner-control-3 + .banner-nav-a{
    left: 55%;
}
#banner-control-4,#banner-control-4 + .banner-nav-a{
    left: 65%;
}


/* 设置高亮 */
/*当 input 被选中时 他的兄弟级a标签高亮展示*/
input:checked + .banner-nav-a {
    background-color: #1E1E6B;
}

/* 设置轮播图动画 */
#banner-control-1:checked ~ .banner-img-container{
	transform: translateX(0px);
}
#banner-control-2:checked ~ .banner-img-container{
	transform: translateX(-600px);
}
#banner-control-3:checked ~ .banner-img-container{
	transform: translateX(-1200px);
}
#banner-control-4:checked ~ .banner-img-container{
	transform: translateX(-1800px);
}




